<div class="post">
    <% const img=new Buffer.from(post.image.data).toString('base64'); %>
        <img src="<%= `data:image/png;base64,${img}` %> " alt="" />
        <div class="post-title">
            <%= post.title %>
        </div>
        <div class="post-description">
            <%= post.description %>
        </div>
</div>