<%- include('../components/header') %> 
<%- include('../components/navbar') %> 
<div><h4>recent posts</h4></div>
<div class="posts">
    <% for( let i = 0; i < 500; i++ ) { %>
        <%- include('../components/shortpost',{post:post}) %> 
    <% } %>
</div>


