* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* global classes */
a {
  text-decoration: none;
  color: inherit;
}

/* styles for authentication form  */
.authentication-form {
  margin: auto;
  transform: translate(0%, 50%);
  width: 50%;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authentication-form label,
input,
button {
  /* width: 50%; */
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5em;
  margin: auto;
  margin-top: 10px;
}

.authentication-form button {
  background-color: #0275d8;
  color: white;
  border-radius: 5px;
  border-style: none;
}
/* styles for authentication form  */

/* style for admin panel navbar */
nav {
  display: flex;
  /* height: 50px; */
  padding: 1em;
  border: 1px solid black;
  align-items: center;
}

nav a {
  text-transform: capitalize;
}
.logo {
  margin-left: 10px;
}

.navbar-admin {
  width: 50%;
  margin-left: auto;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  list-style-type: none;
}

/* styles for admin panel dashobard */
